
report.html
project_1_henry_june_25.zip
.ipynb_checkpoints/finding_donors_original_code-Copy1-checkpoint.ipynb
.ipynb_checkpoints/finding_donors_original_code-checkpoint.ipynb
__pycache__/visuals.cpython-37.pyc
.ipynb_checkpoints/income_classifier-checkpoint.ipynb
